apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-nodejs
spec:
  selector:
    matchLabels:
      app: k8s-nodejs
  template:
    metadata:
      labels:
        app: k8s-nodejs
    spec:
      containers:
      - name: k8s-nodejs
        image: iumairkhan/k8s-nodejs
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 3000
  replicas: 4
  
